@media screen and (max-width: 767px) {
	body{
		font-size:0.45em;
	}
	p{
		font-size:2em;
	}
	.intro-text > div{ bottom:10%; font-size:1.2em; }

	ul.navigation li a{
		line-height:2em;
		font-size:2.5em;
	}
	.contact-text{ margin-top:1em!important; }
	.overlay {
	    width: 100%;
	}
	.section-2{
		height:auto!important;
		padding:4em auto;
	}
	.description p{ min-height:auto!important; } 
	.description ul{ margin-bottom:1.5em; } 
	.sections  p { font-size: 1.5em; }
	.sections .text a.button{ font-size: 1em; }
	.home, .contact{
		background-position: center center;
	}
	.content-items{
		position:relative;
		margin-bottom:2em;
	}
	.content-items a { 
		font-size: 1.2em;
	}
	.margin-bottom-1em{ margin-top:0; margin-bottom:1.5em; }
	.intro-button a{ font-size:1.25em;}
	.sections.freelance h1{ padding-bottom:1.45em; }
	.sections.freelance .relative-position{ position: relative; top: 0; }
}