@media screen and (max-width: 767px) {
	body{
		font-size:0.45em;
	}
	p{
		font-size:2em;
	}
	.intro-text > div{ bottom:10%; font-size:1.2em; }

	ul.navigation li a{
		line-height:2em;
		font-size:2.5em;
	}
	.contact-text{ margin-top:1em!important; }
	.overlay {
	    width: 100%;
	}
	.portfolio{
		height:auto!important;
		padding:4em auto;
	}
	.porfolio-description p{ height:auto; } 
	.home, .contact{
		background-position: center center;
	}
	.portfolio-content-items{
		position:relative;
		margin-bottom:2em;
	}
	.portfolio-content-items a { 
		font-size: 1.2em;
	}
}